$color1: #fff;
$color2: #727272;
$color3: #ff0000;
$color4: #5eca37;
$color5: #939BA3;
$color6: #F3933D;
$color7: #323232;
$color8: #2D85C9;
$color9: #297DC2;
$color10: #414D58;
$color11: #C9CCCE;
$color12: #7B4397;
$color13: #B72083;
$color14: #DC2331;