$whiteColor: #fff;
$headerNumColor: #727272;
$heroBgcolor: #ff0000;
$buttonColor: #5eca37;
$commonTextColor: #939BA3;
$headingColor: #F3933D;
$titleColor: #323232;
$videoContainerColor: #2D85C9;
$LinkColor: #297DC2;
$footerColor: #414D58;
$footerContentColor: #C9CCCE;
$gradientStartColor: #7B4397;
$gradientMiddleColor: #B72083;
$gradientEndColor: #DC2331;