body {
    podition: fixed;
    margin: 5px;
}

#header {
    background-color: #fbeec1;
    height: 100px;
    position: relative;
    border-bottom: 2px solid black;
}

#header-left {
    position: absolute;
    display: inline-block;
    left:0px;
    top:0px;
    line-height:2.5;
}

#header-right {
    position: absolute;
    right:0px;
    top:0px;
    margin-right:10px;
    line-height:2.5;
}

#main-content {
    background-color: #314152;
    /* align-items: center; */
    position: relative;
    margin-bottom: 5px;
    height: 500px;
}

#content {
    background-color: #ffffff;
    overflow: auto;
    position: absolute;
    top: 33%;
    left: 33%;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

#footer {
    background-color: #fbeec1;
    height: 100px;
    width: 100%;
    position: relative;
    border-top: 2px solid black;
}

#footer-left {
    position: absolute;
    display: inline-block;
    left:0px;
    bottom:0px;
    line-height:1.5;
}

#footer-right {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height:1.5;
}
