body {
    background-color: aliceblue;
}

.calender-container {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 20px grey;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head-container {
    background-color: #5f5f5f;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    padding: 30px 0;
    text-align: center;
}

.head-data {
    display: inline-block;
     width: 150px;
}

.arrow {
    font-size:20px
}

.calender-content {
    background-color: #f1f1f1;
    color: #000;
    padding: 20px 0;
}

.week-content {
    display: inline-block;
    padding: 10px 35px; 
    width: 90px;
}
