<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <title>AH-Assignment</title>
    </head>
    <body>
        <div class="top">
        </div>
        <div class="header">
            <div class="header-logo">
            </div>
            <div class="header-number">
                <div class="number-content">800-437-6125</div>
            </div>
        </div>
        <div class="hero">
            <div class="back-color">
                <div class="hero-inner">
                    <div class="hero-head">Online Registration Tools for Camps & Classes</div>
                    <div class="hero-tag">SuperHero</div>
                    <button type="button" class="hero-button">Tell me more</button>
                    <div><i class="fa fa-angle-up hero-icon"></i></div>
                    <div class="hero-motive">The easy way to run & grow your business!</div>
                </div>
            </div>
        </div>
        <div class="review-head-container">Online Registration Tools You'll Love</div>
        <div class="review">
            <div class="review-inner">
                <div class="review-container">
                    <div class="review-image-container">
                        <img class="review-image" src="../../assets/images/AH-2.jpg" alt="Avatar">
                    </div>
                    <div class="review-desc">
                        <p>
                            "The reason I started doing ActivityHero is that it
                            was easier for the parents... and now
                            ActivityHero has taken a lot of work from my
                            shoulders."
                            <p class="review-writter">-Rory Judge, Adventure Camps</p>
                        </p>
                    </div>
                </div>
                <div class="review-container">
                    <div class="review-image-container">
                        <img class="review-image" src="../../assets/images/AH-3.jpg" alt="Avatar">
                    </div>
                    <div class="review-desc">
                        <p>
                            "ActivityHero allows us to customize to
                            fit our needs, and they are very responsive.
                            And best of all our camp grew by over 40% this
                            year."
                            <p class="review-writter">-Tamar Hill, Spartan Allstars</p>
                        </p>
                    </div>
                </div>
                <div class="review-container">
                    <div class="review-image-container">
                        <img class="review-image" src="../../assets/images/AH-1.jpg" alt="Avatar">
                    </div>
                    <div class="review-desc">
                        <p>
                            "We've grown 4x since we have opened the doors.
                            And I absolutely attribute that to ActivityHero.
                            It's just a snap. And it's helped me grow,
                            and grow, and grow."
                            <p class="review-writter">-CD Hullinger, CD's Kids Art Studio</p>
                        </p>
                    </div>
                </div>
                <div class="review-container">
                    <div class="review-image-container">
                        <img class="review-image" src="../../assets/images/AH-4.jpg" alt="Avatar">
                    </div>
                    <div class="review-desc">
                        <p>
                            "ActivityHero helps me figure out the best
                            dates to run camp, and parents say it's easy to use.
                            I'm so glad I started using ActivityHero --
                            I can spend more time doing what I love, being
                            out with the kids."
                            <p class="review-writter">-Kathy Banks, Cool Coyote Camp</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-container">
            <div class="video-title">How ActivityHero Works (in 90 seconds)</div>
            <video width="400px" controls>
                <source src="../../assets/video/video.mp4" type="video/mp4"></source>
                Your Browser do not support video tag
            </video>
        </div>
        <div class="review-head-container">What You Get With ActivityHero</div>
        <div class="task">
            <div class="task-inner">
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Accept online registrations on your website</div>
                    <div>
                        <p class="task-desc">Say goodbye to paper forms, Google forms -- and
                            accept registrations and payments 24/7. Registration
                            is smooth and easy for parents -- plus its mobile-optimized
                            for iPhones and Android phones.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-pay.png" alt="Avatar"></div>
                    <div class="task-head">Make it easy for customers to purchase again</div>
                    <div>
                        <p class="task-desc">You have a lot of repeat customers,
                            so treat them right by giving them
                            VIP treatment. Your returning customers don't need
                            to re-enter their information or credit card.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/easy-setup.png" alt="Avatar"></div>
                    <div class="task-head">Get set-up in a jiff</div>
                    <div>
                        <p class="task-desc">Simply add 1 line of code to your
                            website to embed the registration widget and get
                            the full suite of SuperHero regisration features.
                        </p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/real-time.png" alt="Avatar"></div>
                    <div class="task-head">Make updates anytime</div>
                    <div>
                        <p class="task-desc">Need to add another session?
                            Change dates? Add/remove spots? Simply log into
                            your dashboard and make your edits, and theyll
                            instantly appear on your web site</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Collect the info you need</div>
                    <div>
                        <p class="task-desc">Customize your registration forms,
                            then store info so parents can easily sign up again. You'll
                            have everything you need for common customer
                            service tasks like issuing refunds or changing
                            sessions.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Communicate with your customers</div>
                    <div>
                        <p class="task-desc">Confirmation emails and receipts are
                            sent automatically. Send an email blast to
                            customers for session updates or to announce your
                            upcoming sessions.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Run promotions and specials</div>
                    <div>
                        <p class="task-desc">Need to fill up those last few spots?
                            Its easy to turn on promo codes and discounts.
                            And if you work with Groupon, you can import voucher
                            codes for easy online redemption.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Easily print sign-in sheets</div>
                    <div>
                        <p class="task-desc">Sign-in sheets, class rosters,
                            emergency contact info-- view, print or download
                            what you need. Keeping records has never been
                            simpler!</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">See how your business is doing</div>
                    <div>
                        <p class="task-desc">The SuperHero dashboard gives you
                            detailed reports about views, registrations,
                            payments, and more. Easily compare results with the
                            same month in previous years. Get insights on your
                            customer demographics.</p>
                    </div>
                </div>
                <div class="task-container">
                    <div><img src="../../assets/images/online-reg.png" alt="Avatar"></div>
                    <div class="task-head">Get help from an expert</div>
                    <div>
                        <p class="task-desc">Meet your new best friend: your
                            ActivityHero Account Manager! We know a lot about
                            how to make camps & classes successful. Together,
                            we'll make sure that everything is set up just the
                            way you want. And you'll always get a quick response
                            to any question.</p>
                    </div>
                </div>
            </div>
            <button type="button" class="hero-button">Learn more</button>
        </div>
        <div class="info">
            <div class="video-title">Reach new coustomers and get More Registrations</div>
            <div class="info-desc">
                <p>ActivityHero is more than online registration tools....
                    we're also your marketting partner!<br> At no extra charge
                    we can promote<sup>*</sup> your activities in the
                    <a href="#" class="hyper-link">ActivityHero.com</a> marketplace,<br> serving
                    more than 2.5 million nationwide. Your activities can be
                    included in:
                    <ul class="info-list">
                        <li>Local city home pages</li>
                        <li>Activity search result</li>
                        <li>Email newsletters to local families</li>
                    </ul>
                </p>
                <p>See a <a href="#" class="hyper-link">list of cities we serve</a>.<br>
                <p class="info-terms">*There is no charge to be promoted. Additional registration
                    fees apply to the registrations acquired via the ActivityHero
                    marketplace.</p>
            </div>
        </div>
        <div class="form">
                <div class="video-title form-title">Get your first month free!</div>
                <div class="form-instruct">
                    <p >Fill out the form below</p>
                </div>
                <div class="form-container">
                    <div class="form-data">
                        <form action="#" method="get">
                            <div class="form-label"><label>Name <sup>*</sup></label></div>
                            <input type="text" name="name" class="form-input" required>
                            <div class="form-label"><label>Email <sup>*</sup></label></div>
                            <input type="email" name="name" class="form-input" required>
                            <div class="form-label"><label>Company Name</label></div>
                            <input type="text" name="name" class="form-input">
                            <div class="form-label"><label>Phone Number</label></div>
                            <input type="text" name="name" class="form-input">
                            <div class="form-label"><label>When do you want to start accepting registrations?</label></div>
                            <textarea class="form-textarea"></textarea>
                            <button class="hero-button last-button">Tell me more</button>
                        </form>
                    </div>
                </div>
        </div>
        <div class="footer">
            <p>&copy; 2019 ActivityHero, Inc. All Rights Reserved. 800-437-6125</p>
        </div>
    </body>
</html>