@media only screen and (max-width: 1008px) {

    .hero {
        background-position: center;
    }

    .review-inner, .task-inner {
        width: 600px;
    }

    .review-desc {
        display: inline-block;
        width: 150px;
    }
    
    .task-container {
        width: 250px;
    }

    .info-desc {
        width: 70%;
    }
}

@media only screen and (max-width: 642px) {

    .header-logo {
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }

    .header-number {
        text-align: center;
        vertical-align: top;
        width: 100%;
    }

    .number-content {
        padding: 10px 0;
    }

    .info-desc {
        width: 50%;
    }

    .task-inner, .review-inner {
        width: 50%;
    }

    .task-container, .review-container {
        margin: 0;
        width: 100%;
    }

    .review-image-container, .review-desc {
        width: 100%;
    }

    .review-writter {
        text-align: center;
    }

    video {
        width: 50%
    }

    .form-input {
        height: 20px;
    }

     .form-textarea {
         height: 30px;
     }

    .last-button {
        padding: 2px 0;
    }

    .footer-content {font-size: 10px}
    .hero-head {font-size: 20px}
    .hero-icon {font-size: 40px}
    .hero-title {font-size: 13px }
    .hero-button {font-size: 18px; padding: 5px 50px;}
    .hero-motive {font-size: 15px}
    .review-head {font-size: 25px}
    .info-title, .form-title, .review-title, .video-title {font-size: 18px}
    .review-writter {font-size:13px}
    .task-head {font-size: 18px}
    .task-desc {font-size: 13px}
    .info-desc, .last-button {font-size: 14px}
    .info-terms {font-size: 8px}
    .form-label {font-size: 8px; text-align: left;}
}

@media only screen and (max-width: 500px) {
    .form-data {
        width: 50%;
    }
    .form-input, .form-textarea  {
        width: 100%;
    }
}