.hero:before, .info:before {
  background-color: #ff0000;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

body {
  margin: 0; }

.top {
  background-image: linear-gradient(to right, #7B4397, #B72083, #DC2331);
  height: 40px; }

.header-logo {
  padding: 30px 0;
  background: url(../images/AH-logo.png) center no-repeat;
  background-size: 200px 50px;
  display: inline-block;
  text-align: center;
  width: 49%; }

.header-number {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 49%; }
  .header-number .number-content {
    color: #727272;
    font-size: 20px;
    padding: 20px 0; }

.hero {
  background-size: cover;
  background-image: url(../images/AH-hero-image.png);
  color: #fff;
  position: relative;
  text-align: center;
  z-index: 1; }
  .hero .hero-inner {
    display: inline-block; }
    .hero .hero-inner .hero-head {
      font-size: 35px;
      margin: 0;
      padding-top: 15px; }
    .hero .hero-inner .hero-tag {
      margin: 20px; }
    .hero .hero-inner .hero-icon {
      font-size: 50px; }
    .hero .hero-inner .hero-motive {
      font-size: 20px;
      margin: 15px; }

.hero-button-container {
  margin: 25px 0;
  text-align: center; }
  .hero-button-container .hero-button {
    background-color: #5eca37;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 85px;
    text-decoration: none; }

.review-head-container {
  font-size: 30px;
  text-align: center; }

.review,
.task {
  color: #939BA3;
  padding-bottom: 30px;
  text-align: center; }
  .review .review-inner,
  .review .task-inner,
  .task .review-inner,
  .task .task-inner {
    margin: 0 auto;
    width: 900px; }
    .review .review-inner .review-container,
    .review .review-inner .task-container,
    .review .task-inner .review-container,
    .review .task-inner .task-container,
    .task .review-inner .review-container,
    .task .review-inner .task-container,
    .task .task-inner .review-container,
    .task .task-inner .task-container {
      box-sizing: border-box;
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      vertical-align: top; }
      .review .review-inner .review-container .review-image-container,
      .review .review-inner .task-container .review-image-container,
      .review .task-inner .review-container .review-image-container,
      .review .task-inner .task-container .review-image-container,
      .task .review-inner .review-container .review-image-container,
      .task .review-inner .task-container .review-image-container,
      .task .task-inner .review-container .review-image-container,
      .task .task-inner .task-container .review-image-container {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        width: 80px; }
        .review .review-inner .review-container .review-image-container .review-image,
        .review .review-inner .task-container .review-image-container .review-image,
        .review .task-inner .review-container .review-image-container .review-image,
        .review .task-inner .task-container .review-image-container .review-image,
        .task .review-inner .review-container .review-image-container .review-image,
        .task .review-inner .task-container .review-image-container .review-image,
        .task .task-inner .review-container .review-image-container .review-image,
        .task .task-inner .task-container .review-image-container .review-image {
          border-radius: 50%;
          margin-top: 22px; }
      .review .review-inner .review-container .review-desc,
      .review .review-inner .task-container .review-desc,
      .review .task-inner .review-container .review-desc,
      .review .task-inner .task-container .review-desc,
      .task .review-inner .review-container .review-desc,
      .task .review-inner .task-container .review-desc,
      .task .task-inner .review-container .review-desc,
      .task .task-inner .task-container .review-desc {
        display: inline-block;
        width: 300px; }
        .review .review-inner .review-container .review-desc .review-writter,
        .review .review-inner .task-container .review-desc .review-writter,
        .review .task-inner .review-container .review-desc .review-writter,
        .review .task-inner .task-container .review-desc .review-writter,
        .task .review-inner .review-container .review-desc .review-writter,
        .task .review-inner .task-container .review-desc .review-writter,
        .task .task-inner .review-container .review-desc .review-writter,
        .task .task-inner .task-container .review-desc .review-writter {
          font-size: 18px;
          text-align: right; }
      .review .review-inner .review-container .task-head,
      .review .review-inner .task-container .task-head,
      .review .task-inner .review-container .task-head,
      .review .task-inner .task-container .task-head,
      .task .review-inner .review-container .task-head,
      .task .review-inner .task-container .task-head,
      .task .task-inner .review-container .task-head,
      .task .task-inner .task-container .task-head {
        color: #F3933D;
        font-size: 23px;
        text-align: center; }
      .review .review-inner .review-container .task-desc,
      .review .review-inner .task-container .task-desc,
      .review .task-inner .review-container .task-desc,
      .review .task-inner .task-container .task-desc,
      .task .review-inner .review-container .task-desc,
      .task .review-inner .task-container .task-desc,
      .task .task-inner .review-container .task-desc,
      .task .task-inner .task-container .task-desc {
        font-size: 18px; }
    .review .review-inner .task-container,
    .review .task-inner .task-container,
    .task .review-inner .task-container,
    .task .task-inner .task-container {
      width: 400px; }

.info-title,
.form-title,
.video-title {
  color: #323232;
  font-size: 30px;
  margin: 0;
  text-align: center; }

.video-container {
  background-color: #2D85C9;
  color: #fff;
  padding: 30px 0;
  text-align: center; }
  .video-container .video-title {
    padding-bottom: 20px; }

.info {
  position: relative;
  z-index: 1;
  padding: 30px 0; }
  .info:before {
    background-image: url(../images/network.jpg);
    background-position: center; }
  .info .info-desc {
    font-size: 19px;
    margin: auto;
    padding-bottom: 20px;
    width: 700px; }
    .info .info-desc .hyper-link {
      color: #297DC2; }
    .info .info-desc .info-list {
      list-style-position: outside;
      padding-left: 20px; }
    .info .info-desc .info-terms {
      font-size: 12.5px; }

.form {
  background-color: #2D85C9;
  color: #fff;
  padding: 30px 0; }
  .form .form-title {
    color: #fff; }
  .form .form-instruct {
    text-align: center; }
  .form .form-data {
    margin: 0 auto;
    width: 250px; }
    .form .form-data .form-label {
      font-size: 13px;
      text-align: left; }
    .form .form-data .form-input,
    .form .form-data .form-textarea {
      box-sizing: border-box;
      border: 0px solid #fff;
      border-radius: 5px;
      height: 25px;
      margin-bottom: 10px;
      width: 250px; }
    .form .form-data .form-textarea {
      height: 40px; }
    .form .form-data .last-button {
      background-color: #5eca37;
      border: 0px solid #fff;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 20px;
      padding: 10px 0;
      text-align: center;
      width: 100%; }

.footer {
  background-color: #414D58;
  color: #C9CCCE;
  opacity: .9;
  overflow: auto;
  text-align: center; }

@media only screen and (max-width: 1008px) {
  .hero {
    background-position: center; }

  .review .review-inner {
    width: 600px; }
  .review .review-container .review-desc {
    display: inline-block;
    width: 150px; }

  .task .task-inner {
    width: 600px; }
    .task .task-inner .task-container {
      width: 250px; }

  .info .info-desc {
    width: 70%; } }
@media only screen and (max-width: 642px) {
  .header-logo {
    padding: 20px 0;
    text-align: center;
    width: 100%; }

  .header-number {
    text-align: center;
    vertical-align: top;
    width: 100%; }
    .header-number .number-content {
      padding: 10px 0; }

  .info .info-desc {
    width: 50%;
    font-size: 14px; }
    .info .info-desc .info-terms {
      font-size: 8px; }

  .task .task-inner,
  .task .review-inner,
  .review .task-inner,
  .review .review-inner {
    width: 50%; }
    .task .task-inner .task-container,
    .task .task-inner .review-container,
    .task .review-inner .task-container,
    .task .review-inner .review-container,
    .review .task-inner .task-container,
    .review .task-inner .review-container,
    .review .review-inner .task-container,
    .review .review-inner .review-container {
      margin: 0;
      width: 100%; }
      .task .task-inner .task-container .review-image-container,
      .task .task-inner .task-container .review-desc,
      .task .task-inner .review-container .review-image-container,
      .task .task-inner .review-container .review-desc,
      .task .review-inner .task-container .review-image-container,
      .task .review-inner .task-container .review-desc,
      .task .review-inner .review-container .review-image-container,
      .task .review-inner .review-container .review-desc,
      .review .task-inner .task-container .review-image-container,
      .review .task-inner .task-container .review-desc,
      .review .task-inner .review-container .review-image-container,
      .review .task-inner .review-container .review-desc,
      .review .review-inner .task-container .review-image-container,
      .review .review-inner .task-container .review-desc,
      .review .review-inner .review-container .review-image-container,
      .review .review-inner .review-container .review-desc {
        width: 100%; }
        .task .task-inner .task-container .review-image-container .review-writter,
        .task .task-inner .task-container .review-desc .review-writter,
        .task .task-inner .review-container .review-image-container .review-writter,
        .task .task-inner .review-container .review-desc .review-writter,
        .task .review-inner .task-container .review-image-container .review-writter,
        .task .review-inner .task-container .review-desc .review-writter,
        .task .review-inner .review-container .review-image-container .review-writter,
        .task .review-inner .review-container .review-desc .review-writter,
        .review .task-inner .task-container .review-image-container .review-writter,
        .review .task-inner .task-container .review-desc .review-writter,
        .review .task-inner .review-container .review-image-container .review-writter,
        .review .task-inner .review-container .review-desc .review-writter,
        .review .review-inner .task-container .review-image-container .review-writter,
        .review .review-inner .task-container .review-desc .review-writter,
        .review .review-inner .review-container .review-image-container .review-writter,
        .review .review-inner .review-container .review-desc .review-writter {
          font-size: 13px;
          text-align: center; }
      .task .task-inner .task-container .task-head,
      .task .task-inner .review-container .task-head,
      .task .review-inner .task-container .task-head,
      .task .review-inner .review-container .task-head,
      .review .task-inner .task-container .task-head,
      .review .task-inner .review-container .task-head,
      .review .review-inner .task-container .task-head,
      .review .review-inner .review-container .task-head {
        font-size: 18px; }
      .task .task-inner .task-container .task-desc,
      .task .task-inner .review-container .task-desc,
      .task .review-inner .task-container .task-desc,
      .task .review-inner .review-container .task-desc,
      .review .task-inner .task-container .task-desc,
      .review .task-inner .review-container .task-desc,
      .review .review-inner .task-container .task-desc,
      .review .review-inner .review-container .task-desc {
        font-size: 13px; }

  video {
    width: 50%; }

  .form .form-data .form-input {
    height: 20px; }
  .form .form-data .form-textarea {
    height: 30px; }
  .form .form-data .last-button {
    padding: 2px 0;
    font-size: 14px; }
  .form .form-data .form-label {
    font-size: 8px; }

  .footer {
    font-size: 10px; }

  .hero .hero-inner .hero-head {
    font-size: 20px; }
  .hero .hero-inner .hero-icon {
    font-size: 40px; }
  .hero .hero-inner .hero-tag .hero-title {
    font-size: 13px; }
  .hero .hero-inner .hero-motive {
    font-size: 15px; }

  .hero-button-container .hero-button {
    font-size: 18px;
    padding: 5px 50px; }

  .review-head-container {
    font-size: 25px; }

  .info-title,
  .form-title,
  .review-title,
  .video-title {
    font-size: 18px; } }
@media only screen and (max-width: 500px) {
  .form .form-data {
    width: 50%; }
    .form .form-data .form-input,
    .form .form-data .form-textarea {
      width: 100%; } }

/*# sourceMappingURL=style.css.map */
